@import "https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap";
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #747e88;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}
a:focus,
a:hover {
  text-decoration: none;
}
i,
span,
a {
  display: inline-block;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #38424d;
  margin: 0;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #747e88;
  margin: 0;
}
.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: 0 40px;
  font-size: 16px;
  line-height: 48px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -ms-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  transition: all 0.4s ease-out 0s;
  background-color: #1e75d9;
  -webkit-box-shadow: 0 3px 8px 0 rgba(30, 117, 217, 0.25);
  -moz-box-shadow: 0 3px 8px 0 rgba(30, 117, 217, 0.25);
  box-shadow: 0 3px 8px 0 rgba(30, 117, 217, 0.25);
}
.main-btn:hover {
  background-color: rgba(30, 117, 217, 0.6);
  color: #fff;
}
.main-btn.main-btn-2 {
  background-color: #fff;
  color: #1e75d9;
  border-color: #1e75d9;
}
.main-btn.main-btn-2:hover {
  background-color: #1e75d9;
  border-color: #1e75d9;
  color: #fff;
}
.section_title .title {
  font-size: 40px;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .section_title .title {
    font-size: 24px;
  }
}
.section_title p {
  margin-top: 10px;
}
.slick-slide {
  outline: 0;
}
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 99999;
}
.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.preloader .loader .ytp-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}
.preloader .loader .ytp-spinner .ytp-spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  -webkit-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -moz-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  -o-animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
  animation: ytp-spinner-linspin 1568.23529647ms linear infinite;
}
.preloader .loader .ytp-spinner .ytp-spinner-container .ytp-spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}
.preloader
  .loader
  .ytp-spinner
  .ytp-spinner-container
  .ytp-spinner-rotator
  .ytp-spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}
.preloader .loader .ytp-spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  border-color: #1e75d9 #1e75d9 #f7f7fd;
  border-radius: 50%;
  border-width: 6px;
}
.preloader .loader .ytp-spinner-left .ytp-spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: #f7f7fd;
  -webkit-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -moz-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  -o-animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1)
    infinite both;
  animation: ytp-spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
}
.preloader .loader .ytp-spinner-right .ytp-spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: #f7f7fd;
  -webkit-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -moz-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite
    both;
  -o-animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
  animation: ytp-right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}
@-webkit-keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ytp-spinner-linspin {
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@keyframes ytp-spinner-easespin {
  12.5% {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  25% {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  37.5% {
    -webkit-transform: rotate(405deg);
    -moz-transform: rotate(405deg);
    -ms-transform: rotate(405deg);
    -o-transform: rotate(405deg);
    transform: rotate(405deg);
  }
  50% {
    -webkit-transform: rotate(540deg);
    -moz-transform: rotate(540deg);
    -ms-transform: rotate(540deg);
    -o-transform: rotate(540deg);
    transform: rotate(540deg);
  }
  62.5% {
    -webkit-transform: rotate(675deg);
    -moz-transform: rotate(675deg);
    -ms-transform: rotate(675deg);
    -o-transform: rotate(675deg);
    transform: rotate(675deg);
  }
  75% {
    -webkit-transform: rotate(810deg);
    -moz-transform: rotate(810deg);
    -ms-transform: rotate(810deg);
    -o-transform: rotate(810deg);
    transform: rotate(810deg);
  }
  87.5% {
    -webkit-transform: rotate(945deg);
    -moz-transform: rotate(945deg);
    -ms-transform: rotate(945deg);
    -o-transform: rotate(945deg);
    transform: rotate(945deg);
  }
  to {
    -webkit-transform: rotate(1080deg);
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -o-transform: rotate(1080deg);
    transform: rotate(1080deg);
  }
}
@-webkit-keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@keyframes ytp-spinner-left-spin {
  0% {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }
  to {
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
    transform: rotate(130deg);
  }
}
@-webkit-keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
@keyframes ytp-right-spin {
  0% {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  to {
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
    -ms-transform: rotate(-130deg);
    -o-transform: rotate(-130deg);
    transform: rotate(-130deg);
  }
}
.header_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sticky {
  position: fixed;
  z-index: 999;
  background-color: #fff;
  -webkit-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.sticky .navbar {
  padding: 10px 0;
}
.navbar {
  padding: 25px 0;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-brand {
  padding: 0;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler .toggler-icon {
  width: 30px;
  height: 2px;
  background-color: #38424d;
  display: block;
  margin: 5px 0;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.navbar-toggler.active .toggler-icon:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}
.navbar-toggler.active .toggler-icon:nth-of-type(2) {
  opacity: 0;
}
.navbar-toggler.active .toggler-icon:nth-of-type(3) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  top: -7px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.1);
    -moz-box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.1);
    box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.1);
    padding: 5px 12px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9;
    -webkit-box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.1);
    -moz-box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.1);
    box-shadow: 0 15px 20px 0 rgba(34, 34, 34, 0.1);
    padding: 5px 12px;
  }
}
.navbar-nav .nav-item {
  margin-left: 45px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .navbar-nav .nav-item {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;
  }
}
.navbar-nav .nav-item a {
  font-size: 16px;
  font-weight: 600;
  color: #38424d;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  padding: 5px 0;
  position: relative;
}
.navbar-nav .nav-item a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #38424d;
  border-radius: 50px;
  left: 110%;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a::before {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a::before {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item a {
    display: block;
    padding: 4px 0;
  }
}
.navbar-nav .nav-item.active > a::before,
.navbar-nav .nav-item:hover > a::before {
  width: 100%;
}
.navbar-nav .nav-item:hover .sub-menu {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item:hover .sub-menu {
    top: 0;
  }
}
.navbar-nav .nav-item .sub-menu {
  width: 200px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 767px) {
  .navbar-nav .nav-item .sub-menu {
    position: relative;
    width: 100%;
    top: 0;
    display: none;
    opacity: 1;
    visibility: visible;
  }
}
.navbar-nav .nav-item .sub-menu li {
  display: block;
}
.navbar-nav .nav-item .sub-menu li a {
  display: block;
  padding: 8px 20px;
  color: #222;
}
.navbar-nav .nav-item .sub-menu li a.active,
.navbar-nav .nav-item .sub-menu li a:hover {
  padding-left: 25px;
  color: #1e75d9;
}
.navbar-nav .sub-nav-toggler {
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .navbar-nav .sub-nav-toggler {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: 0 0;
    color: #222;
    font-size: 18px;
    border: 0;
    width: 30px;
    height: 30px;
  }
}
.navbar-nav .sub-nav-toggler span {
  width: 8px;
  height: 8px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -5px;
}
.header_hero {
  position: relative;
  z-index: 5;
  background-position: bottom center;
  overflow: hidden;
  padding-top: 70px;
  height: 650px;
}
@media only screen and (min-width: 1400px) {
  .header_hero {
    height: 900px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_hero {
    height: 700px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_hero {
    height: auto;
  }
}
@media (max-width: 767px) {
  .header_hero {
    height: auto;
  }
}
.header_image,
.header_shape {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-position: left bottom;
}
.header_image {
  z-index: 9;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_image {
    position: relative;
    width: 720px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
}
@media (max-width: 767px) {
  .header_image {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_image {
    width: 540px;
  }
}
.header_image .image {
  position: relative;
}
.header_image .image .dots {
  position: absolute;
  left: 17%;
  bottom: 0;
  z-index: -1;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_image .image .dots {
    width: 125px;
  }
}
@media (max-width: 767px) {
  .header_image .image .dots {
    width: 100px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_image .image .dots {
    width: 130px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header_hero_content {
    padding-top: 50px;
  }
}
.header_hero_content .header_title {
  font-size: 46px;
  font-family: 'Lato', sans-serif;
  font-weight: 550;
  color: #222;
  margin-top: 20px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header_hero_content .header_title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .header_hero_content .header_title {
    font-size: 24px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .header_hero_content .header_title {
    font-size: 30px;
  }
}
.header_hero_content .header_title span {
  /* background: #2A3493;
  background: -webkit-linear-gradient(to right, #2A3493 0%, #129C49 100%);
  background: -moz-linear-gradient(to right, #2A3493 0%, #129C49 100%);
  background: linear-gradient(to right, #2A3493 0%, #129C49 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #2A3493;
}
.header_hero_content p {
  margin-top: 15px;
}
.header_hero_content .main-btn {
  margin-top: 30px;
}
.header_hero_image img {
  width: 100%;
}
.single_features i {
  width: 67px;
  height: 67px;
  line-height: 67px;
  text-align: center;
  background-color: #fff;
  color: #1e75d9;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 11px 0 rgba(30, 117, 217, 0.11);
  -moz-box-shadow: 0 2px 11px 0 rgba(30, 117, 217, 0.11);
  box-shadow: 0 2px 11px 0 rgba(30, 117, 217, 0.11);
  font-size: 38px;
}
.single_features .title {
  font-size: 24px;
  margin-top: 25px;
}
.single_features p {
  margin-top: 15px;
}
.about_area {
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about_area {
    overflow: hidden;
    margin-top: 100px;
  }
}
.about_shape {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.about_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about_area{
    overflow: hidden;
  }
  .about_image {
    position: relative;
    width: 720px;
    /* overflow-x: hidden; */
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .about_area{
    overflow: hidden;
  }
  .about_image {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .about_image {
    width: 540px;
  }
}
.about_content {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .about_content {
    padding: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .about_content {
    padding-top: 45px;
    padding-bottom: 0;
  }
}
@media (max-width: 767px) {
  .about_content {
    padding-top: 45px;
    padding-bottom: 0;
  }
}
.video_area {
  position: relative;
  padding-top: 95px;
}
@media only screen and (min-width: 1400px) {
  .video_area {
    padding-top: 350px;
  }
}
.video_area .video_shape {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}
.video_area .video_shape img {
  width: 100%;
}
.video_image {
  position: relative;
}
.video_image img {
  width: 100%;
  border-radius: 10px;
}
.video_image .video_play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 55px;
  border-radius: 50%;
  background-color: #fff;
  color: #1e75d9;
  font-size: 18px;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.single_gallery {
  padding: 30px;
  border: 2px solid #ececec;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_gallery {
    padding: 20px;
  }
}
.single_gallery .gallery_sticker .discount {
  width: 72px;
  height: 38px;
  line-height: 38px;
  border-radius: 50px;
  background-color: #f35353;
  font-size: 16px;
  color: #fff;
  text-align: center;
  float: right;
}
.single_gallery .gallery_sticker .new {
  width: 72px;
  height: 38px;
  line-height: 38px;
  border-radius: 50px;
  background-color: #1e75d9;
  font-size: 16px;
  color: #fff;
  text-align: center;
  float: left;
}
.single_gallery .gallery_image {
  margin-top: 30px;
}
.single_gallery .gallery_image img {
  width: 100%;
}
.single_gallery .gallery_content {
  background-color: #fff;
  position: relative;
  z-index: 5;
}
.single_gallery .gallery_content ul li {
  display: inline-block;
  color: #1e75d9;
  font-size: 16px;
}
.single_gallery .gallery_content .gallery_title a {
  font-size: 24px;
  font-weight: 600;
  color: #38424d;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  margin-top: 10px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_gallery .gallery_content .gallery_title a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .single_gallery .gallery_content .gallery_title a {
    font-size: 20px;
  }
}
.single_gallery .gallery_content .gallery_title a:hover {
  color: #1e75d9;
}
.single_gallery .gallery_content .price {
  margin-top: 10px;
}
.single_gallery .gallery_content .price .discount_price {
  font-size: 24px;
  font-weight: 600;
  color: #1e75d9;
  margin-right: 5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_gallery .gallery_content .price .discount_price {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .single_gallery .gallery_content .price .discount_price {
    font-size: 20px;
  }
}
.single_gallery .gallery_content .price .regular_price {
  font-size: 24px;
  font-weight: 400;
  color: #747e88;
  position: relative;
  margin-left: 5px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_gallery .gallery_content .price .regular_price {
    font-size: 20px;
  }
}
.single_gallery .gallery_content .price .regular_price::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #747e88;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.single_gallery .gallery_btn {
  margin-top: -60px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  opacity: 0;
}
.single_gallery .gallery_btn .main-btn {
  padding: 0 30px;
}
.single_gallery:hover {
  border-color: #1e75d9;
}
.single_gallery:hover .gallery_btn {
  margin-top: 30px;
  opacity: 1;
}
.slick-center .single_gallery {
  border-color: #1e75d9;
}
.slick-center .single_gallery .gallery_btn {
  margin-top: 30px;
  opacity: 1;
}
.single_client {
  padding: 30px;
  border: 2px solid #ececec;
  border-radius: 25px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_client .client_image img {
  display: inline-block;
  border-radius: 50%;
}
.single_client .client_content {
  margin-top: 25px;
}
.single_client .client_content .author_name {
  font-size: 24px;
  font-weight: 600;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .single_client .client_content .author_name {
    font-size: 20px;
  }
}
.single_client .client_content span {
  font-size: 15px;
  margin-top: 5px;
  color: #747e88;
}
.single_client .client_content p {
  margin-top: 10px;
}
.single_client:hover {
  border-color: #1e75d9;
}
.slick-center .single_client {
  border-color: #1e75d9;
}
.client_active .slick-dots {
  width: 100%;
  text-align: center;
  margin-top: 35px;
}
.client_active .slick-dots li {
  display: inline-block;
  margin: 0 3px;
}
.client_active .slick-dots li button {
  width: 15px;
  height: 15px;
  background-color: transparent;
  border-radius: 50px;
  font-size: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  border: 2px solid #1e75d9;
}
.client_active .slick-dots li.slick-active button {
  background-color: #1e75d9;
}
.single_blog {
  overflow: hidden;
  position: relative;
  border-radius: 25px;
}
.single_blog .blog_image img {
  width: 100%;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.single_blog .blog_content {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  -webkit-transform: translateY(145px);
  -moz-transform: translateY(145px);
  -ms-transform: translateY(145px);
  -o-transform: translateY(145px);
  transform: translateY(145px);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single_blog .blog_content {
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
    transform: translateY(120px);
  }
}
@media (max-width: 767px) {
  .single_blog .blog_content {
    -webkit-transform: translateY(165px);
    -moz-transform: translateY(165px);
    -ms-transform: translateY(165px);
    -o-transform: translateY(165px);
    transform: translateY(165px);
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single_blog .blog_content {
    -webkit-transform: translateY(95px);
    -moz-transform: translateY(95px);
    -ms-transform: translateY(95px);
    -o-transform: translateY(95px);
    transform: translateY(95px);
  }
}
.single_blog .blog_content .number {
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  font-weight: 600;
  padding: 10px 30px;
}
.single_blog .blog_content .main_content {
  background-color: #1e75d9;
  padding: 25px 30px;
}
.single_blog .blog_content .main_content .blog_title a {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
}
.single_blog .blog_content .main_content p {
  margin-top: 15px;
  color: #fff;
}
.single_blog:hover .blog_image img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.single_blog:hover .blog_content {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
p.form-message.success,
p.form-message.error {
  font-size: 16px;
  color: #38424d;
  background: #f7f7fd;
  padding: 10px 15px;
  margin-top: 30px;
  margin-left: 15px;
}
p.form-message.success.form-message.error,
p.form-message.error.form-message.error {
  color: red;
}
.single_info .info_icon i {
  width: 45px;
  height: 45px;
  line-height: 43px;
  /* background: rgb(244, 243, 253); */
  text-align: center;
  border: 1px solid #2A3493;
  border-radius: 50%;
  font-size: 18px;
  color: #2A3493;
}
.single_info .info_content {
  padding-left: 20px;
}
.single_form textarea,
.single_form input {
  width: 100%;
  height: 55px;
  border: 1px solid #ececec;
  border-radius: 50px;
  padding: 0 25px;
  color: #747e88;
  font-size: 16px;
}
.single_form textarea:focus,
.single_form input:focus{
    border: 1px solid #00A550;
}
.single_form textarea {
  height: 150px;
  padding-top: 15px;
  resize: none;
  border-radius: 25px;
}
.footer_area {
  margin-top: 2%;
  background: #fafafa;
  position: relative;
}
.footer_area::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-position: top center;
  background-image: url(../images/footer_bg.png);
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.1;
}
.footer_about p {
  margin-top: 25px;
}
.footer_link .social {
  margin-top: 20px;
}
.footer_link .social li {
  display: inline-block;
  margin-right: 15px;
}
.footer_link .social li a {
  font-size: 20px;
  color: #747e88;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer_link .social li a:hover {
  color: #1e75d9;
}
.footer_title {
  font-size: 30px;
  font-weight: 600;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_title {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .footer_title {
    font-size: 24px;
  }
}
.footer_link_wrapper .footer_link {
  width: 33.33%;
  padding-left: 50px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_link_wrapper .footer_link {
    padding-left: 0;
  }
}
@media (max-width: 767px) {
  .footer_link_wrapper .footer_link {
    width: 50%;
    padding-left: 0;
  }
}
.footer_link_wrapper .footer_link .link {
  padding-top: 10px;
}
.footer_link_wrapper .footer_link .link li {
  margin-top: 10px;
}
.footer_link_wrapper .footer_link .link li a {
  font-size: 16px;
  color: #747e88;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.footer_link_wrapper .footer_link .link li a:hover {
  color: #1e75d9;
}
.footer_copyright .copyright {
  border-top: 2px solid rgba(56, 66, 77, 0.14);
  padding: 25px 0;
}
.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  line-height: 50px;
  border-radius: 5px;
  background-color: #1e75d9;
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;
}
.back-to-top:hover {
  color: #fff;
  background-color: #1e75d9;
}


/* Features */

/* ==========================================================================
    App Features Section Style
   ========================================================================== */
    #app-features {
    background: #f6fbfd;
  }
  
  #app-features .content-left {
    position: relative;
  }
  
  #app-features .content-left span {
    float: right;
    margin-left: 25px;
  }
  
  #app-features .content-right {
    position: relative;
  }
  
  #app-features .content-right span {
    float: left;
    margin-right: 25px;
  }
  
  #app-features .box-item {
    margin: 30px 0;
  }
  
  #app-features .box-item .icon {
    text-align: center;
    margin: 0 15px;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    position: relative;
    background-image: -moz-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    background-image: -webkit-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    background-image: -ms-linear-gradient(0deg, #3c96ff 0%, #2dfbff 100%);
    z-index: 1;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #app-features .box-item .icon i {
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  #app-features .box-item .text h4 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 22px;
  }
  
  #app-features .box-item .text p {
    font-size: 14px;
    line-height: 26px;
  }
  
  #app-features .content-left .text {
    margin-right: 90px;
  }
  
  #app-features .content-right .text {
    margin-left: 90px;
  }
  
  #app-features .show-box {
    text-align: center;
    margin: 15px 0;
  }
  
  #app-features .show-box img {
    width: 100%;
  }
  
/* Footer */


.footer-59391 {
    border-top: 1px solid #efefef;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    padding: 4rem 0; }
    .footer-59391 .site-logo {
      color: #fff; }
      .footer-59391 .site-logo a {
        font-size: 30px;
        color: #000;
        font-weight: 900; }
    .footer-59391 .social-icons li {
      display: inline-block; }
      .footer-59391 .social-icons li a {
        display: inline-block;
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%; }
        .footer-59391 .social-icons li a.dr {
          background: #ff2e6e; }
        .footer-59391 .social-icons li a.be {
          background: #394cff; }
        .footer-59391 .social-icons li a.tw {
          background: #00a0fb; }
        .footer-59391 .social-icons li a.in {
          background: #c31574; }
        .footer-59391 .social-icons li a.fb {
          background: #3b579b; }
        .footer-59391 .social-icons li a.yt {
          background: #fa2614; }
        .footer-59391 .social-icons li a span {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          color: #fff; }
    .footer-59391 .nav-links li {
      display: inline-block; }
      .footer-59391 .nav-links li a {
        font-size: 14px;
        color: #777;
        padding: 10px; }
    @media (max-width: 1199.98px) {
      .footer-59391 .nav-links.nav-left li:first-child a {
        padding-left: 0; } }
    .footer-59391 .nav-links.nav-right li:last-child a {
      padding-right: 0; }
    @media (max-width: 1199.98px) {
      .footer-59391 .nav-links.nav-right li:first-child a {
        padding-left: 0; } }
    .footer-59391 .copyright {
      border-top: 1px solid #efefef;
      padding-top: 50px;
      text-align: center;
      color: #777; }   
/* Footer End */


/* Footer start */
.social-links {
  
  display: flex;
}

.social-links a {
  width: 80px;
  height: 80px;
  text-align: center;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
  margin: 0 30px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.social-links a .fab {
  font-size: 30px;
  line-height: 80px;
  position: relative;
  z-index: 10;
  transition: color 0.5s;
}
@media (max-width: 1199.98px) {

  .social-links a {
    width: 40px;
  height: 40px;
  }
  .social-links a .fab{
    line-height: 45px;
    font-size: 15px;  
  } 
}
/* @media (max-width:) {
  
} */
.social-links a::after {
  content: '';
  width: 100%;
  height: 100%;
  top: -90px;
  left: 0;
  background: #000;
  background: linear-gradient(-45deg, #ed1c94, #ffec17);
  position: absolute;
  transition: 0.5s;
}

.social-links a:hover::after {
  top: 0;
}

.social-links a:hover .fab {
  color: #fff;
}

.social-links a:hover {
  transform: translateY(-10px);
}

/* Footer End */


/* Footer Third */

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter, .fa-facebook-f, .fa-linkedin, .fa-youtube, .fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover, .rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}


.rounded-social-buttons .social-button.instagram {
  /* background: #125688; */

  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); */
}

.rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}

/* Footer Third End */



/* column */
/* .col-main {
  flex: 1;  
}  

.col-complementary {
  flex: 1;  
} */

/* Responsive: */

/* @media only screen and (min-width: 640px) {
  .layout {
    display: flex;
  }
} */
/* column end */


/* benefits start */
.benefits_list{
  text-align: center;
  position: relative;
  align-items: center;
  padding: 0;
    padding-top: 10px;
    margin: 0;
    list-style: none;}

    .benefits_list li{
      font-size: 20px;
      align-items: center;
      font-weight: 600;
      text-align: center;
      display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    /* align-items: center; */
    margin-bottom: 15px;
    }


    .benefits_list li .a-icon{
      font-size: 25px;
    margin-right: 15px;
    color: #02aeb3;
}
.benefits{
}
/* benefits ends */


/* How it works */
.listar-feature-item-wrapper {
  margin-bottom: 120px;
  /* overflow:hidden; */
  padding-left: 27px;
  padding-right: 27px;
}

.listar-feature-item {
  height: calc(100% - 20px);
}

.listar-feature-item.listar-feature-has-link
  ~ .listar-feature-fix-bottom-padding.listar-fix-feature-arrow-button-height {
  position: relative;
  display: block;
  width: 100%;
  height: 30px;
}

.listar-feature-item a {
  position: absolute;
  top: -12px;
  left: 15px;
  width: calc(100% - 30px);
  height: calc(100% + 4px);
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-with-image .listar-feature-item a:before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 148px;
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-item a:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  z-index: 10;
  animation: ripple 0.7s linear infinite;
  box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6),
    -5px -5px 10px rgba(255, 255, 255, 0.5);
}


@keyframes ripple {
  0% {
        box-shadow: 0 0 0 0 rgba(163, 177, 198, 0.3), 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.01);
  }
  100% {
    box-shadow: 0 0 0 1em rgba(163, 177, 198, 0.3), 0 0 0 3em rgba(163, 177, 198, 0.03), 0 0 0 5em rgba(163, 177, 198, 0.03), 0 0 0 8em rgba(163, 177, 198, 0.01);
  }
}



.listar-feature-item .listar-feature-item-inner {
  padding: 50px 30px;
  border-radius: 6px;
  z-index: 5;
  position: relative;
  height: 100%;
}

.listar-feature-item .listar-feature-item-inner {
  padding-top: 60px;
  padding-bottom: 60px;
}

.listar-feature-item .listar-feature-item-inner:before {
  border: 0;
  box-shadow: 120px 0px 150px rgba(80, 80, 80, 0.15),
    10px 0px 10px rgba(80, 80, 80, 0.02);
  border-radius: 1000px;
  background: rgba(255, 255, 255, 0);
  background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(255, 255, 255, 0)),
    color-stop(40%, rgba(255, 255, 255, 0)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#ffffff',GradientType=1);
}

.listar-feature-item .listar-feature-item-inner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.listar-feature-right-border {
  position: absolute;
  width: calc(100% + 24px);
  height: calc(100% + 24px);
  top: -12px;
  left: 50%;
  overflow: hidden;
}

.listar-feature-items {
  text-align: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.listar-feature-right-border:before,
.listar-hovering-features
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before {
  border: 11px solid #2f53bf;
}

.listar-feature-right-border:before,
.listar-hovering-features
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before,
.listar-hovering-features-grey
  .listar-feature-item
  a:hover
  ~ .listar-feature-item-inner
  .listar-feature-right-border:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 11px solid #258bd5;
  border-radius: 800px;
  left: -50%;
}

.listar-feature-item .listar-feature-block-content-wrapper {
  position: relative;
  display: block;
  text-decoration: none;
  margin: -30px;
  padding: 30px;
  height: calc(100% + 100px);
}

.listar-features-design-2 .listar-feature-item-wrapper {
  margin-bottom: 120px;
  padding-left: 27px;
  padding-right: 27px;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
  content: "";
  background-color: #fff;
  z-index: 6;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
}

.listar-feature-icon-wrapper {
  width: 148px;
  height: 148px;
  line-height: 148px;
  border-radius: 500px;
  position: relative;
  background-color: #fff;
  box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.06);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 50%;
  vertical-align: middle;
  margin-left: -74px;
  top: -66px;
  margin-top: -74px;
}

.listar-feature-icon-inner {
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 500px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.14);
  background: #fff;
}

.listar-feature-icon-inner div {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  display: inline-block;
  position: relative;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: left;
}

.listar-feature-icon-inner img {
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  display: inline-block;
  width: auto;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -o-transform: translate(-50%);
  transform: translate(-50%);
  height: 55px;
}

.listar-feature-item img,
.listar-feature-item i {
  position: relative;
  display: inline-block;
  border-bottom: 0;
  font-size: 40px;
  top: 0;
  padding: 0;
  color: #258bd5;
}

.listar-feature-with-image .listar-feature-content-wrapper {
  top: 0;
}
.listar-feature-content-wrapper {
  position: relative;
  margin-top: -15.5px;
}

.listar-feature-item .listar-feature-item-title {
  padding-top: 0;
  margin: 0 0 30px;
  text-align: center;
  line-height: 1.5;
}

.listar-feature-item
  .listar-feature-item-title.listar-feature-counter-added
  > span {
  margin-left: 25px;
  border-radius: 0 50px 50px 0;
}

.listar-feature-item .listar-feature-item-title > span {
  box-shadow: 15px 20px 30px rgba(80, 80, 80, 0.12),
    5px 0px 40px rgba(80, 80, 80, 0.1);
  padding: 10px 20px;
  display: inline-block;
  position: relative;
  background-color: #fff;
}

.listar-feature-item .listar-feature-item-title > span span {
  box-shadow: 15px 15px 30px rgba(80, 80, 80, 0.2),
    5px 0px 80px rgba(80, 80, 80, 0.15);
  padding: 10px 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 30px;
  white-space: nowrap;
  position: absolute;
  top: -3px;
  left: -40px;
  border-radius: 50px;
  background-color: #fff;
}

.listar-feature-item .listar-feature-item-title span {
  display: inline-block;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
  text-shadow: none;
  border-radius: 50px;
  color: #252525;
  font-size: 18px;
}

.listar-feature-item-excerpt {
  padding: 0 20px;
}

.listar-feature-item-excerpt {
  color: #252525;
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.pset {
  overflow: hidden;
  padding-top: 180px;
  /* padding-bottom: 80px; */
}

.listar-map-button-text span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  height: 44px;
  line-height: 1.6;
  padding: 10px 25px;
  box-shadow: 0 0 31px rgba(0, 0, 0, 0.65), 0 0 4px rgba(0, 0, 0, 0.06);
  border-radius: 50px;
  background-color: rgba(35, 40, 45, 0.9);
  color: #fff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.listar-map-button-text span {
  background-color: #fff;
  color: #252525;
  text-shadow: none;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.listar-map-button-text span:after {
  border: 12px solid #fff;
}

.listar-map-button-text span:after {
  content: "";
  position: absolute;
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  height: calc(100% + 28px);
  border-radius: 36px;
}

.listar-map-button:hover .listar-map-button-text span {
  padding: 10px 43px 10px 51px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.listar-feature-with-image .listar-feature-item a:before {
  content: "";
  position: absolute;
  top: -74px;
  left: 50%;
  margin-left: -74px;
  width: 148px;
  height: 148px;
  border-radius: 1000px;
  z-index: 10;
}

.listar-feature-item.listar-feature-has-link .listar-feature-item-inner:after {
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 10px 10px 40px rgba(80, 80, 80, 0.15),
    15px 15px 30px rgba(80, 80, 80, 0.05), 0 0 120px rgba(80, 80, 80, 0.6);
  bottom: -30px;
  background-image: url("https://image.flaticon.com/icons/svg/2316/2316674.svg");
  background-size: 40%;
  color: #555;
  line-height: 52px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  align-self: flex-start;
}

/* How it works */


/* Waves */
.ocean {
  height: 150px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  /* overflow: hidden; */
  right: 0;
  overflow-x: hidden;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .ocean{
    height: 80px;
  }
}

/* @media (max-width: 767px) and (max-width: 467px){
  .ocean{
    height: 80px;
  } */
.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%232A3493'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 20s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.5;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 28s linear reverse infinite;
  opacity: 0.3;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 30s -1s linear infinite;
  opacity: 0.3;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

/* Waves */
/* 
.center{
  justify-content: center;
  align-items: center;
  align-content: center;
} */



/* .check {
  transfrom: scale(1);
  stroke-width: 2px;
  stroke-dasharray: 50px, 50px;
  stroke-dashoffset: 0px;
  width: 10px;
  animation: checkmark 4s ease-in-out 0.9s backwards infinite;

}


@-webkit-keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0px
    }
} */
@-webkit-keyframes checked {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes checked {
  0% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  50% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }

  100% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.faa-checked.animated,
.faa.faa-checked.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
  -webkit-animation: checked 2s linear infinite;
  animation: checked 2s linear infinite;
}

.benefits_title h5{
 font-size: 25px;
 color: #2A3493;
}

.benefits_title p{
  font-size: 20px;
}


.main_title{
  text-align: center;
  margin: 2%;
}

.main_title span{
  color: #2A3493;
}

.mg{
  margin-bottom: 10%;
}


